@page "/"

<PageTitle>Moogle!</PageTitle>

<div class="logoDiv">
    <img class="logo" src="./Moogle logo-02.svg" alt="moogleImg"/>
</div>


<input class="p-1 my-4" @bind="query" placeholder="Introduzca su búsqueda">

<div class="btn searchButton" @onclick="RunQuery">
     <img  class="searchImg" src="./Moogle lupa-03.svg" alt="">
</div>

@if (!string.IsNullOrEmpty(result.Suggestion)) {
    <div class="suggestion">
        <p>¿Quisite decir <strong><a href="#">@result.Suggestion</a></strong>?</p>
    </div>
}


<ul class="results">
@foreach (var item in result.Items()) {
    
    <li class="result">

        @if (item.Address != "#"){

            string title = item.Address.Split("../Content/")[1];

            <a class="item" @onclick="() => showTxt(item.Address)" target="_blank" href="/Text">
                <p class="title" >@title</p>
                <p class="snippet">... @item.Snippet ...</p>
                <p class="score">Score: @item.Score</p> 
            </a>
        }
        else
        {
            <a class="item">
                <p class="title" >No matches founded</p>
                <p class="score">Score: @item.Score</p> 
            </a>
        }

    </li>
}
</ul>

@code {
    private string query = "";
    private SearchResult result = new SearchResult();

    @*Precalculated TF and iDF *@
    Dictionary<string, double[]> TF =  MoogleServer.Program.TF;
    Dictionary<string, double> iDF =  MoogleServer.Program.iDF;
    Dictionary<string, string[]> snippets = MoogleServer.Program.snippets;
    Dictionary<string, Dictionary<int, int[]>> positionsDict = MoogleServer.Program.positionsDict;

    private void RunQuery() {
        if(query != String.Empty){
        result = Moogle.Query(query, TF, iDF, snippets, positionsDict);
        }
    }

    public static string Address = "";

    private void showTxt(string address)
    {
        Address = address;
    }
}
